* {
  font-family: 'Open Sans', Helvetica, sans-serif;
}

table {
    width: 100%;
    border: 0.5px solid #25283D;
    background-color: #679D24;
    border-spacing: 0;
    color: #EDE6F2;
  }

  th, td {
    border: 2px solid black;
    margin: 0;
    padding: 4px;
    text-align: left;
  }

  tfoot td {
    text-align: center;
  }

  .contact-form label {
    display: block;
    margin: 40px;
    user-select: none;
    cursor: pointer;
  }

  footer {
    text-align: center;
    padding: 8px;
  }

  .img {
    /* display: block; */
    border-radius: 16px;
    margin: 40px auto;
    width: 100%;
    /* width: 500px;
    height: 300px; */
  }

  .right {
    text-align: right;
  }  

  .name_underline {
    text-decoration: underline #EDE6F2;
    text-align: center;
  }

  .name_strong-italic {
    font-weight: bold;
    font-style: italic;
  }

  p {
    font-size: 1.25rem;    
    text-align: justify;
  }

  h1 {
    font-size: 2.5rem;    
  }

  h2 {
    font-size: 2rem;    
  }

  h3 {
    font-size: 1.25rem;    
  }

  header, footer {
    font-size: 1rem;    
  }

 body {
  background-size: contain;
  background-color: #C1292E;
  color: #EDE6F2;
 }

 #ultimate_queen {
  vertical-align: sub;  
  width: 100px; 
  height: 30px;
 }
 
 ul {
  list-style-type: square;  
 }

 ul li {
  padding: 10px;
 }


