* {
  margin: 0; /* navbar */
  padding: 0;
  font-family: "Open Sans", Helvetica, sans-serif;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  background-size: contain;
  background-color: #c1292e;
  color: #ede6f2;
}

/* Navigation bar */
.navbar ul {
  list-style-type: none;
}

#globus {
  width: 50px;
}

.navbar > ul {
  height: 60px;
  line-height: 60px;
  text-align: center;
  /* background-color: #960200; */
}

.navbar > ul > li {
  display: inline-block;
  position: relative;
  background-color: #8f6b00;
  border-radius: 5px;
  padding: 0 20px;
}

.navbar > ul > li:hover > ul {
  display: block;
}

.navbar ul li a {
  text-decoration: none;
  display: block;
  color: #ede6f2;
}

.navbar ul li a:hover {
  color: #f50400;
}

.navbar > ul > li > ul {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  width: 100%;
}

.navbar > ul > li > ul > li {
  background-color: #8f6b00;
  border-radius: 5px;
}

/* Table */

table {
  width: 100%;
  border: 2px solid #25283d;
  background-color: #8f6b00;
  border-spacing: 0;
  border-radius: 5px;
  color: #ede6f2;
}

table a {
  color: #ede6f2;
}

th,
td {
  border: 1px solid #25283d;
  margin: 0;
  padding: 4px;
  text-align: left;
}

.coral tr:hover {
  background-color: #ce6c47;
}

tfoot td {
  text-align: center;
}

.contact-form label {
  display: block;
  margin: 40px;
  user-select: none;
  cursor: pointer;
}

.img {
  /* display: block; */
  border-radius: 16px;
  margin: 40px auto;
  width: 100%;
  /* width: 500px;
    height: 300px; */
}

.right {
  text-align: right;
}

.name_underline {
  text-decoration: underline #ede6f2;
  text-align: center;
}

.name_strong-italic {
  font-weight: bold;
  font-style: italic;
}

p {
  font-size: 2rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
}

#ultimate_queen {
  vertical-align: sub;
  width: 100px;
  height: 30px;
}

.album-list {
  list-style-type: square;
  margin: 30px;
}

ul li {
  padding: 10px;
}

.newspaper {
  margin: 25px auto;
  width: 1000px;
  height: 500px;
  border: 2px solid #25283d;
  border-radius: 5px;
  font-size: 0px;
  box-sizing: border-box;
}

.column {
  width: calc(33.33% - 20px);
  height: calc(100% - 20px);
  background-color: #679d24;
  border: 2px solid #25283d;
  border-radius: 5px;
  padding: 20px;
  display: inline-block;
  box-sizing: border-box;
  margin: 10px;
  font-size: 1.6rem;
  text-align: justify;
}

.column_2 {
  float: left;
  width: calc(33.33% - 20px);
  height: calc(100% - 20px);
  background-color: #8f6b00;
  border: 2px solid #25283d;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
  margin: 10px;
  text-align: justify;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.center {
  text-align: center;
}

footer {
  text-align: center;
  padding: 8px;
}

footer p {
  font-size: 1.6rem;
}

footer a {
  color: #ede6f2;
}
